.results-row-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 25px;
}
.variations-container {
  display: flex;
}
.result-word {
  background-color: #59b5ac;
  color: white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.results-row-container p {
  display: inline-block;
}
.copy-button {
  background-color: #475259;
  border: none;
  color: white;
  height: 44px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
